/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: rgba(236, 233, 233, 0.891);
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
    background-color: rgb(235, 232, 232);
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;
	
	
}
header h2 {
	font-size: 175%;
	color: #030303;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
header img {
	float: left;
	padding: 0 30px;
}


/* the styles for the navigation menu */
#nav_menu ul {
list-style-type: none;
margin: 0;
padding: 0;
position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul li a {
	display: block;
	width: 160px;
	text-align: center;
	padding: 1em;
	text-decoration: none;
	background-color: #d5faf9;
	color: rgb(8, 8, 8);
	font-weight: bold;
}
#nav_menu a.current {
color: rgb(1, 1, 1);
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}

/* the styles for the section */
section {
	width: 525px;
	float: right;
	padding: 0 20px 20px 20px;
}
section h1 {
	font-size: 150%;
	padding: .5em 0 .25em 0;
	margin: 0;
}
section h2 {
	color: #a86c04;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

section p {
	padding-bottom: .5em;
}
section blockquote {
	padding: 0 2em;
	font-style: italic;
}
section ul {
	padding: 0 0 .25em 1.25em;
}
section li {
	padding-bottom: .35em;
}

/* the styles for the article */
article {
	padding: .5em 0;
	
	
}
article h2 {
	padding-top: 0;
}
article h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
article img {
	float: right;
	margin: .5em 0 1em 1em;
	border: 1px solid black;
}

/* the styles for the aside */
aside {
	width: 215px;
	float: right;
	padding: 0 0 20px 20px;
}
aside h2 {
	color: #a86c04;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}
aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
aside img {
	padding-bottom: 1em;
}

/* the styles for the footer */
footer {
	clear: both;

}
footer p {
	text-align: center;
	color: rgb(4, 4, 4);
	padding: 1em 0;
}

